@model DAW_Pets.Models.Solicitud
<style type="text/css">
    .card-header {
        color: white;
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        background-color: darkturquoise;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
</style>
<section class="container py-3">
    <form asp-action="Edit">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" disabled/>
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="UsuarioId" class="control-label"></label>
                    <input type="text" class="form-control" value="@Model.Usuario.Persona.Nombre @Model.Usuario.Persona.Paterno" disabled/>
                    <span asp-validation-for="UsuarioId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MascotaId" class="control-label"></label>
                    <input type="text" class="form-control" value="@Model.Mascota.Nombre" disabled/>
                    <span asp-validation-for="MascotaId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="QPersonas" class="control-label"></label>
                    <input asp-for="QPersonas" class="form-control" disabled/>
                    <span asp-validation-for="QPersonas" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TipoDomicilio" class="control-label"></label>
                    <input asp-for="TipoDomicilio" class="form-control" disabled/>
                    <span asp-validation-for="TipoDomicilio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Ubicacion" class="control-label"></label>
                    <input asp-for="Ubicacion" class="form-control" disabled/>
                    <span asp-validation-for="Ubicacion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cubierto" class="control-label"></label>
                    <input value="@( Model.Cubierto == 1 ? "Sí":"No" )" class="form-control" disabled/>
                    <span asp-validation-for="Cubierto" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Bebe" class="control-label"></label>
                    <input value="@( Model.Bebe == 1 ? "Sí":"No" )" class="form-control" disabled/>
                    <span asp-validation-for="Bebe" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Alergia" class="control-label"></label>
                    <input value="@( Model.Alergia == 1 ? "Sí":"No" )" class="form-control" disabled/>
                    <span asp-validation-for="Alergia" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Mudanza" class="control-label"></label>
                    <input value="@( Model.Mudanza == 1 ? "Sí":"No" )" class="form-control" disabled/>
                    <span asp-validation-for="Mudanza" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card my-3">
                    <h5 class="card-header"><i class="fa fa-book"></i> Actualización de Solicitud</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Detalle" class="control-label"></label>
                                    <input asp-for="Detalle" class="form-control" />
                                    <span asp-validation-for="Detalle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label"></label>
                                    <select asp-for="Estado" class="form-control">
                                        @foreach (Maestro m in ViewBag.Estado)
                                        {
                                            <option value="@m.Id">@m.Valor</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group text-right">
                                    <input type="submit" value="Grabar" class="btn btn-pets-turquoise" />
                                    <button class="btn btn-light" asp-action="Index">Regresar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

