@model IEnumerable<DAW_Pets.Models.Solicitud>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDomicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cubierto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alergia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mudanza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDomicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cubierto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bebe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mudanza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNavigation.Grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.Alimentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
