@model IEnumerable<DAW_Pets.Models.Solicitud>
<section class="container py-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QPersonas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDomicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cubierto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bebe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alergia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mudanza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mascota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QPersonas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDomicilio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ubicacion)
                    </td>
                    <td>
                        @(item.Cubierto == 1 ? "Sí":"No")
                    </td>
                    <td>
                        @(item.Bebe == 1 ? "Sí":"No")
                    </td>
                    <td>
                        @(item.Alergia == 1 ? "Sí":"No")
                    </td>
                    <td>
                        @(item.Mudanza == 1 ? "Sí":"No")
                    </td>
                    <td>
                        @switch (item.EstadoNavigation.Id)
                        {

                            case 52:
                                <span class="badge bg-success">@Html.DisplayFor(modelItem => item.EstadoNavigation.Valor)</span>
                                break;
                            case 57:
                                <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.EstadoNavigation.Valor)</span>
                                break;
                            default:
                                <span class="badge bg-info">@Html.DisplayFor(modelItem => item.EstadoNavigation.Valor)</span>
                                break;

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                    </td>
                    <td>
                        @(string.Format("{0} {1}", item.Usuario.Persona.Nombre, item.Usuario.Persona.Paterno))
                    </td>
                    <td>
                        <a class="btn btn-pets-turquoise mr-3 mb-3" asp-action="Edit" asp-controller="Solicitud" asp-route-id="@item.Id"><i class="fa fa-pen"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>