@model IEnumerable<DAW_Pets.Models.Persona>
<section class="container py-3">
    <p>
        <a class="btn btn-pets-turquoise" asp-action="Create">Nuevo Usuario</a>
    </p>
    <div id="myAlert" class="alert alert-success d-flex align-items-center" role="alert">
        <i class="fa fa-check-circle"></i> &nbsp;
        <div class="alert-body">           
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fijo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trabajo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario.FirstOrDefault().Estado)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fijo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trabajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @if (item.Usuario.FirstOrDefault().Estado == 0)
                        {
                            <a class="btn btn-pets-turquoise" asp-action="Edit" asp-route-id="@item.Id">Activar</a>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-success">Activado</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
@section Scripts{ 
    <script type="text/javascript">
        var msjRed = new URLSearchParams(window.location.search).get("msjRed");
        if (msjRed != null) {
            $('#myAlert .alert-body').text(msjRed);
        }
    </script>
}