@model IEnumerable<DAW_Pets.Models.Persona>
<section class="container py-3">
    <p>
        <a class="btn btn-primary" asp-action="Create">Nuevo Usuario</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fijo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trabajo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumDoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fijo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trabajo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
