@using DAW_Pets.Models.Helpers;
@{var logged = SessionHelper.GetObjectFromJson<Usuario>(Context.Session, "logged");}
<style>
    .bg-gradient-primary {
        color: white !important;
        background-color: #4e73df;
        background-image: linear-gradient( 180deg,#4e73df 10%,#224abe 100%);
        background-size: cover;
    }
</style>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-gradient-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><i class="fa fa-paw"></i> Pets To The Rescue</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Home")">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Pet")">Muro de Mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Person")">Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mascota</a>
                    </li>

                </ul>

                @if (logged is null) { 
            <div class="col-md-3 text-end">
                <a href="@Url.Action("Index","Security")" class="btn btn btn-outline-light me-2">Iniciar Sesión</a>
                <a href="#" type="button" class="btn btn-primary">Registrarme</a>
            </div>
                } else {
            <div class="dropdown text-end">                
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-capitalize">Hola, @logged.Persona.Nombre</span><img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Configuración</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="@Url.Action("Logout","Security")">Cerrar Sesión</a></li>
                </ul>
            </div>
                }      
            </div>
        </div>
    </nav>
</header>