@model IEnumerable<DAW_Pets.Models.Mascota>
@using DAW_Pets.Models.Helpers;
@using System.Security.Claims;
<style>
    .badge-pets {
        position: relative;
        top: 20px;
    }

    .badge-border-warning {
        border: 5px solid;
        border-color: #f6c23e;
    }

    .badge-border-danger {
        border: 5px solid;
        border-color: #dc3545;
    }
</style>
<section class="py-5 border-bottom" id="wall">
    <div class="text-center mb-5">
        <h1 class="fw-bolder text-black">Muro De Mascotas</h1>
        <p class="lead mb-0">¡Echa un vistazo a nuestros amigos peludos!</p>
    </div>
    <div class="container px-5 my-5">
        <div class="row gx-5">

            @foreach (Mascota m in Model)
            {
                <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                    <div class="text-center">
                        <h5 class="badge @( m.Situacion.Equals("A")? "bg-warning":"bg-danger" ) text-light rounded-pill badge-pets">@(m.Situacion.Equals("A")? "Adóptame":"Me perdí")</h5>
                        <p></p>
                        <img class="img-fluid rounded-circle mb-4 @( m.Situacion.Equals("A")? "badge-border-warning":"badge-border-danger" )" src="https://pbs.twimg.com/profile_images/617810672953364480/FPDye7YZ_400x400.jpg" alt="...">
                    </div>
                    <h2 class="h4 fw-bolder">@m.Nombre</h2>                    
                    <!-- Button trigger modal -->
                    <button class="btn btn-pets-turquoise" onclick="showInPopup('@Url.Action("Details","Pet",new { id = m.Id })')">
                        ¡Conóceme!
                    </button>
                </div>
            }
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="DetailsModal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" data-bs-backdrop="static">
        <div class="modal-content">            
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/jquery.diyslider.js")"></script>
    <script>
        $(function () {
            $(".slider").diyslider({
                width: "1500px", // width of the slider
                height: "680px", // height of the slider
                display: 1, // number of slides you want it to display at once
                loop: false // disable looping on slides
            }); // this is all you need!

            // use buttons to change slide
            $("#go-profile").bind("click", function () {
                // Go to the previous slide
                $(".slider").diyslider("move", "back");
            });
            $("#go-adopt").bind("click", function () {
                // Go to the previous slide
                $(".slider").diyslider("move", "forth");
            });

        });
    </script>
}
